{
  "LogLevel": "info",
  "LocalIp": "",
  "Log": "./manager.log",
  "M3U": {
    "Url": "",
    "ExcludeGroups": ["group_1"]
  },
  "Port": 3000,
  "Path": "./cache",
  "EPG": {
    "bulk": 4,
    "Sock": ""
  }
}
