extend ./layout

block content
  h3 Impostazioni
  if RO
    p Nessuna impostazione modificabile
  else
    small Qui puoi modificare le impostazioni

    div#home-page

    script(src="/home.bundled.js")


block extrajs
  script(src="/app.bundled.js")

