html
  head
    link(href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css")

    link(rel="stylesheet", href="/css/style.css")
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    script(src="/moment/min/moment.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")
    script(src="/socket.io/socket.io.js")
  body

    .wrapper
      nav.sidebar
        .sidebar-content
          ul.sidebar-nav
            li.sidebar-header
              a.sidebar-link(href="/") Home
            each module in Modules
              li.sidebar-item.active
                a.sidebar-link(href=`${module}/`)= module.substring(1).toUpperCase()



      .page
        .container-fluid
          block content





    .container-fluid(id="logger")
      button.btn.btn-outline-info.btn-sm#clear_log(title="Pulisci il log") Pulisci Log
      .row
        div.col-md.logger(id="log")

    script(src="/js/app.js")
    block extrajs
