html {

}

html, body {

}

body {

}

header.update {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 25px;
  color: #7c7ce2a8;
  background-color: rgb(206, 255, 197);
}
header.update h5 {
  margin-left: 40%;
}

a[href=""], a:not([href]) {
  display: none;
}

.hidden {
  display: none;
}

.btn-sm {
  /*font-size: 40%;*/
  margin-left: 10px;
}

.margin-left {
  margin-left: 10px;
}

.margin-top {
  margin-top: 10px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.disabled {
  opacity: 0.5;
}

.hoverable:hover {
  background-color: #eee;
}

.clickable {
  cursor: pointer;
}

ul {
  list-style: none;
}

li.channel-item {
  font-size: 80%;
}

li.channel-item:hover {
  background-color: #eee;
}

li.group-item span.counter {
  cursor: pointer;
}

#logger {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  height: 35%;
  overflow: auto;
  border-top: 2px solid #343c34;
}

#clear_log {
  right: 20px;
  position: fixed;
  z-index: 999;
}

#log {
  padding: 1px 5px 5px 3px;
}

#log .log-line {
  font-size: 70%;
}


#log .log-line span.level {
  text-transform: uppercase;
  margin-right: 10px;
}

#log .log-line span.level.level-info {
  color: blue;
}
#log .log-line span.level.level-debug {
  color: gray;
}
#log .log-line span.level.level-warn {
  color: yellow;
}
#log .log-line span.level.level-error {
  color: red;
}

.wrapper {
  display: flex;
  height: 65%;
}

nav.sidebar {
  background-color: #354052;
  min-width: 250px;
  max-width: 250px;
  height: 100%;
}

.sidebar-content {
  margin-top: 50px;
  color: white;
}

.sidebar-link:visited {
  color: white;
}
.sidebar-link {
  color: white;
}
.sidebar-link:hover {
  color: grey;
}



.page {
  width: calc(100% - 250px);
  height: 100%;
  overflow: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

input::placeholder {
  font-style: italic;
  font-size: 70%;
  color: red;
}


form fieldset {
  margin-top: 50px;
}


#search-result ul li.channel-name {
  padding-left: 10px;
}



.channel-item a.channel-name {
  color: #000;
}
.channel-item span {
  margin-left: 5px;
}
.channel-item .logo img {
  height: 20px;
}
.channel-item .number {

}
.channel-item .name {

}
.channel-item .epg {
  cursor: pointer;
  font-size: 0.675rem;
}


.epg-container {
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

#channels-list ul.epg-list {
  display: inline-block;
  vertical-align: top;
  font-family: "Courier New";
  font-size: 80%;
}

#channels-list ul.epg-list li.date {
  font-size: 150%;
  font-weight: bold;
}

#epg-page ul.epg-list li.event-details:hover {
  background-color: #EEE;
}


body.read-only .wrapper {
  width: 100%;
  height: 100%;
}

body.read-only .page {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}


.sidebar-item .sidebar-nav {
  padding-left: 15px;
}


