extend ../layout

block content
  #epg-page
    h3 Electronic Program Guide
      if !RO
        button#update-chl.btn.btn-primary.btn-sm(@click="updateChannels" :disabled="executing" title="Aggiorna la lista canali") Aggiorna lista canali
    small Qui puoi visualizzare la lista canali del palinsesto tv

    p Canali attuali: {{channels_count}}

    #actions
      form.form-inline(method="get" action="/update")
        if !RO

        .form-group.mx-sm-3.mb-2
          label(for="shift") Time-Shift?
            input#shift.form-control.form-control-sm(type="text" v-model="shiftTime" placeholder="Indicare il time-shift separato da virgola" title="Indicare il time-shift separato da virgola per ogni canale (in ore) ex. Fox+1 e Fox+2 => 1,2" )

        if !RO
          .form-group.mx-sm-3.mb-2
            label(for="full")
              input#full.form-control.form-control-sm(type="checkbox" v-model="fullDetailed" title="Indicare se caricare il dettaglio di ogni programma" )
              |  Dettagliato?

          button.btn.btn-primary(@click="updateEpg()" :disabled="executing" title="Calcola EPG e genera nuovo XMLTV") Calcola EPG

      hr

      .row.separator
        .col-1.enable-disable
          input(type="checkbox" v-model="selctedAll")
        .col-1.logo
        .col-1.number
        .col-3.name
        .col-3.association
        .col-3.actions
          button.btn.btn-outline-secondary(:disabled="executing" title="Genera EPG associativo" @click="saveAssociations()") Salva associazioni
          button.btn.btn-outline-secondary(:disabled="executing" title="Apri EPG associativo" @click="openAssociations()") Apri associazioni
          if hasSockFile
            button#write-epg.btn.btn-outline-info(:disabled="executing" title="Scrivi XMLTV sul file SOCK (se presente nelle impostazioni)") Scrivi XMLTV

      #channels-list
        Group(v-for="module in modules" :key="module.name" :group="module")





block extrajs
  script.
    window.Groups = !{JSON.stringify(EPG.EPG)};
  script(src="/epg.bundled.js")
