.channel-item(:data-channel-id="channel.chname" :class="{'disabled': !isEnabled}")
  .row.hoverable.channel-item
    .col-3.name
      span.clickable(v-if="isOpened" @click="openClose()") -
      span.clickable(v-else="" @click="openClose()") +
      input.margin-left(type="checkbox" v-model="isEnabled")
      span {{channel.chname}}

    .col-2.tvch
      input(type="number" v-model="channel_num" placeholder="Numero" v-if="!isEdit")


    .col-6
      input(type="checkbox" v-model="channel.reuseID")
      input.margin-left(type="text" style="width: 50%" v-model="channel.remap" v-if="!isEdit" :disabled="channel.reuseID")
      button.btn.btn-outline-secondary.btn-sm(v-if="!isEdit && !channel.reuseID" @click="edit()") Modifica


      select(v-if="isEdit" v-model="channel_ref")
        option(value="")
        optgroup(v-for="chls, grp in EPG" :label="grp")
          option(v-for="chl in chls" :value="chl.IdEpg") {{chl.IdEpg}} - {{chl.Name}}
      button.btn.btn-info.btn-sm(v-if="isEdit" @click="saveEdit()") Salva
      button.btn.btn-outline-info.btn-sm(v-if="isEdit" @click="cancelEdit()") Annulla


  .stream-container.margin-top
    Streams(:channel="channel" :streams="channel.streams" :isShown="isOpened")
    hr(v-if="isOpened")
