.channel-item(:data-channel-id="channel.chname" :class="{'disabled': !channel.enabled}")
  .row.hoverable.channel-item
    .col-3.name
      span.clickable(v-if="isOpened" @click="openClose()") -
      span.clickable(v-else="" @click="openClose()") +
      input.margin-left(type="checkbox" v-model="channel.enabled")
      span {{channel.chname}}

    .col-2.tvch
      input(type="number" v-model="channel.chno" placeholder="Numero" v-if="!isEdit")


    .col-5(v-if="channel.enabled")

      input(type="text" v-model="channel.remap" v-if="!isEdit")
      button.btn.btn-outline-secondary.btn-sm(v-if="!isEdit" @click="edit()") Modifica


      select(v-if="isEdit" v-model="channel.remap")
        option(value="")
        optgroup(v-for="chls, grp in EPG" :label="grp")
          option(v-for="chl in chls" :value="chl.IdEpg") {{chl.IdEpg}} - {{chl.Name}}
      button.btn.btn-info.btn-sm(v-if="isEdit" @click="saveEdit()") Salva
      button.btn.btn-outline-info.btn-sm(v-if="isEdit" @click="cancelEdit()") Annulla


  .stream-container.margin-top(v-if="isOpened")
    Streams(:channel="channel" :streams="channel.streams")
    hr(v-if="isOpened")
