.channel-item(:data-channel-id="channel.Id" :class="{'disabled': !isEnabled}")
  .row.hoverable.channel-item
    .col-5.name
      input(type="checkbox" v-model="isEnabled")
      span ( {{channel.Number}} )
      span {{channel.Name}}
      small
        | &nbsp; (
        a(:href="channel.StreamUrl") link originale
        | )

    .col-2.tvgid
      label
        input(type="checkbox" v-model="reuseTvgID")
        | &nbsp;
        small {{channel.Id}}


    .col-5(v-if="isEnabled")
      input(type="number" v-model="channel_num" placeholder="Numero" v-if="!isEdit")
      input(type="text" v-model="channel_ref" v-if="!isEdit")
      button(v-if="!isEdit" @click="edit()") Modifica


      select(v-if="isEdit" v-model="selected_epg_str")
        option(value="")
        optgroup(v-for="chls, grp in EPG" :label="grp")
          option(v-for="chl in chls" :value="chl.IdEpg") {{chl.IdEpg}} - {{chl.Name}}
      button.btn.btn-info.btn-sm(v-if="isEdit" @click="saveEdit()") Salva
      button.btn.btn-outline-info.btn-sm(v-if="isEdit" @click="cancelEdit()") Annulla
