.group-wrapper
  .row.group-item.hoverable.clickable(:data-group-id="group.id" @click="showChannels()")
    .col-1
      small.link(@click.stop="allNone(true)") tutti
      | &nbsp;/&nbsp;
      small.link(@click.stop="allNone(false)") nessuno
    .col-5
      span.name {{group.name}}
    .col-2
      span.counter(title="espandi lista")
        small() {{group.count}} canali
  .channels-container(:class="{'hidden': !chlShown}")
    Channel(v-for="channel, index in channels" :channel="channel" :key="channel.Id + index" :selectedId="channelSelectedData(channel.Id)")
    hr
